body {
    background-color: yellow;
}

div.container {
    background-color: red;
    padding: 10px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    /* align-items: flex-end; */
    min-height: 200px;


    background: -moz-linear-gradient(45deg, #FFFF00 0%, #008000 50%, #FFFF00 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #FFFF00), color-stop(50%, #008000), color-stop(100%, #FFFF00)); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, #FFFF00 0%, #008000 50%, #FFFF00 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, #FFFF00 0%, #008000 50%, #FFFF00 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, #FFFF00 0%, #008000 50%, #FFFF00 100%); /* ie10+ */
    background: linear-gradient(45deg, #FFFF00 0%, #008000 50%, #FFFF00 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFF00', endColorstr='#FFFF00',GradientType=1 ); /* ie6-9 */
}

#div1 {
    background-color: aqua;
    font-size: 24pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

#div2 {
    background-color: green;
    font-size:15pt;
    font-family: Alegreya;
}

div.item {
    margin:2px;
}

#div4 {
    width:400px; margin:auto; background-color: royalblue;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

p.rend-end {
    background-color: blueviolet;
    text-align: right;
}
