<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Server Information</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content fullscreen>

  <ion-list>
    <!-- <ion-list-header> Recent Conversations </ion-list-header> -->

    <ion-item>
      <ion-avatar slot="start">
        <!-- <img src='https://avataaars.io/?avatarStyle=Circle&topType=ShortHairShaggyMullet&accessoriesType=Blank&hairColor=Black&facialHairType=BeardMedium&facialHairColor=BrownDark&clotheType=ShirtScoopNeck&clotheColor=Blue02&graphicType=Selena&eyeType=Dizzy&eyebrowType=DefaultNatural&mouthType=Tongue&skinColor=Pale'/> -->
        <ion-icon name="flash-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>App name</h2>
        <p>{{info?.appName}}</p>
      </ion-label>
    </ion-item>


    <ion-item>
      <ion-avatar slot="start">
        <!-- <img src="https://avataaars.io/?avatarStyle=Circle&topType=LongHairStraight2&accessoriesType=Kurt&hairColor=PastelPink&facialHairType=BeardMedium&facialHairColor=BrownDark&clotheType=GraphicShirt&clotheColor=Gray01&graphicType=Skull&eyeType=Surprised&eyebrowType=AngryNatural&mouthType=Tongue&skinColor=DarkBrown'" /> -->
        <ion-icon name="git-branch-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Version</h2>
        <p>{{info?.version}}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="airplane-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Build number</h2>
        <p>{{info?.buildNumber}}</p>
      </ion-label>
    </ion-item>

  </ion-list> 


</ion-content>
