<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
      <span id="textbase-logo"><a style="text-decoration: none;color: white;" href="..">TEXT&nbsp;❖&nbsp;BASE</a></span>
    </ion-buttons>

    <ion-title slot="end">{{ author?.firstName }} {{ author?.lastName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="display: flex; flex-flow: column wrap; align-items: center;">
    <ion-card >
      <ion-card-content style="width:250px; display: flex; flex-flow: column wrap; align-items: center;">
        <ion-avatar>
          <img [src]="author?.image_href" />
        </ion-avatar>

        <div style="margin-top: 20px;">
          {{author?.firstName}} {{author?.lastName}}
        </div>
    </ion-card-content>
    </ion-card>
  </div>

  

  <div class="works">
    <div class="work-cnt" *ngFor="let opus of author?.opera" 
      style="text-align: center;">
      <a class="work" [href]="opus.url">
        <h1>{{opus?.head}}</h1>
        <p class="authorname">{{author.firstName}} {{author.lastName}}</p>
      </a>
      <span *ngIf="opus?.nrPages" class="nr-pages" style="color: gray; font-size: smaller;">~ {{opus?.nrPages}} pages</span> 
    </div>
  </div>


</ion-content>
