ion-title {
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: normal;
    font-style: normal;
}

ion-toolbar {
    --background: linear-gradient(90deg, rgba(2,64,99,1) 0%, rgba(60,168,63,1) 22%, rgba(4,74,111,1) 100%);
    --color:white;
}

ion-avatar  {
    width: 200px;
    height: 200px;
    box-shadow: 5px 5px 10px #333;
}

ion-card {
    margin: 20px;
}

div.works {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

div.works a {
    text-decoration: none;
}

.work {
    display: block;
    background: linear-gradient(90deg, rgba(2,64,99,1) 0%, rgba(60,168,63,1) 22%, rgba(4,74,111,1) 100%);
    color: white;

    width: 150px;
    height: 230px;
    text-align: center;
    margin: 10px;
    border: 1px solid black;
    padding-top: 0;
    background-image: url('../../../assets/img/cover/cover-blue.jpg');
}

.work  h1 {
    font-size: 110%; 
    font-weight: bold;
    margin: 20px 5px 0 5px;
    text-shadow: 2px 2px 3px #000;
    // color: black;
}

.work .authorname {
    margin: 20px 10px 0 10px;
    font-size: small;
    text-shadow: 1px 1px 5px #000;
}

#textbase-logo {
    font-size: 20px;
}