<html xmlns="http://www.w3.org/1999/xhtml" lang="ro">
<head>
    <title>Textbase</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script th:replace="fragments/google-analytics" ></script>

    <link rel="stylesheet"
          href="../static/bootstrap-5.2.1-dist/css/bootstrap.min.css"
          th:href="@{/bootstrap-5.2.1-dist/css/bootstrap.min.css}"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
          crossorigin="anonymous"
    />
    <link href="https://fonts.googleapis.com/css?family=Alegreya:400,400i,700|PT+Sans+Narrow" rel="stylesheet" />

    <link rel="stylesheet" th:href="@{/css/index.css}" href="../static/css/index.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/etext.store.css}" href="../static/css/etext.store.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/search.css}" href="../static/css/search.css" type="text/css">

</head>
<body>

<div id="navbar" class="navbar">
    <a th:href="@{/}" href="#">TEXT&nbsp;❖&nbsp;BASE</a>
    <a
            class="title"
            th:text="${''}"
            th:href="@{.}"
            href="#"
    >Numele Autorului — Titlul cărții care poate fi destul de lung, adică de fapt nu știm cât de lung</a>
</div>


<div id="searchbox">

    <!--<div id="logo" style="display:flex; justify-content: center; align-items: center;">-->

    <!--<img -->
    <!---->
    <!--style="width:50px; height:50px; text-align: center;"-->
    <!--th:src="@{img/quote-logo-etext.store.png}" -->
    <!--src="../static/img/quote-logo-etext.store.png" -->
    <!--alt="Etext store"/>-->
    <!--<span>Etext&nbsp;❖&nbsp;store</span>-->

    <!--</div>-->


    <!-- <p style="text-align:center; margin-top:10px;">Your database of wisdom</p> -->

    <p style="text-align: center;"><span style="font-size:50px;color:yellow;">❖</span></p>

    <form
            id="searchform"
            action="/search"
    >

        <input name="q"
               class="form-control"
               type="text"
               autofocus />
        <span class="glyphicon glyphicon-search"></span>

        <input
                id="search-submit-button"
                type="submit"
                value="Search"
                class="btn"


        />

    </form>


    <div id="search-results">
    </div>

</div>

<div id="featured">
    <div class="author-avatar mr-3"  th:each="author: ${authors}">
        <a th:href="${author.strId}" href="alecsandri">
            <img src="../static/img/authors/alecsandri,vasile.jpg" th:src="@{/img/authors/alecsandri,vasile.jpg}" class="avatar-image rounded-circle mb-3" alt="Avatar" />
            <!-- <img src="https://pbs.twimg.com/media/Fb9BPqJXEAA7DSK?format=jpg" class="avatar-image rounded-circle mb-3" alt="Avatar" /> -->
        </a>

        <h5 class="mb-2"><strong><span th:text="${author.visualName}">Vasile Alecsandri</span></strong></h5>
        <p class="text-muted"><span th:text="${author.description}">1820-1899</span> <span th:if="badge" th:text="badge" class="badge bg-primary">NEW</span></p>
    </div>

    <!-- <a th:href="${author.strId}" href="alecsandri">
        <span th:text="${author.getVisualName()}">Vasile Alecsandri</span>
    </a> -->

    <div class="author-avatar mr-3" th:if="false">
        <a th:href="${author.strId}" href="anton-pann">
            <img src="../static/img/authors/anton-pann.jpg" class="avatar-image rounded-circle mb-3" alt="Avatar" />
        </a>

        <h5 class="mb-2"><strong><span th:text="${author.visualName}">Anton Pann</span></strong></h5>
        <p class="text-muted"><span th:text="${author.description">1820-1899</span> <span th:if="badge" th:text="badge" class="badge bg-primary">NEW</span></p>
    </div>

    <div class="author-avatar" th:if="false" style="background-image: url(https://pbs.twimg.com/media/Fb9BPqJXEAA7DSK?format=jpg);">
        <a th:href="${author.strId}" href="altul">
            <!-- <img src="../static/img/authors/anton-pann.jpg" class="avatar-image rounded-circle mb-3" alt="Avatar" /> -->
            <!-- <img src="https://pbs.twimg.com/media/Fb9BPqJXEAA7DSK?format=jpg" class="avatar-image rounded-circle mb-3" alt="Avatar" /> -->
            <div class="text-initials-avatar mb-3"><div class="text-initials-avatar__letters">GP</div></div>
        </a>

        <h5 class="mb-2"><strong><span th:text="${author.visualName}">Georges Pompidou</span></strong></h5>
        <p class="text-muted"><span th:text="${author.description">1820-1899</span> <span th:if="badge" th:text="badge" class="badge bg-primary">NEW</span></p>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script
        src="../static/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        th:href="@{/bootstrap-5.2.1-dist/js/bootstrap.bundle.min.js}"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>

</body>
</html>
