ion-title {
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: normal;
    font-style: normal;
}

ion-toolbar {
    --background: linear-gradient(90deg, rgba(2,64,99,1) 0%, rgba(60,168,63,1) 22%, rgba(4,74,111,1) 100%);
    --color:white;
}

div.all-authors {
    display: flex; 
    flex-flow: row wrap;
    justify-content: space-around;
}

div.avatar-container {
    width: 120px;
    margin: 1px;
    text-align: center;
}

ion-avatar  {
    padding: 1px;
    margin: 10px;
    width: 100px;
    height: 100px;
    box-shadow: 5px 5px 10px #333;
}