<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title ><a style="text-decoration: none;color: white;" href="https://textbase.scriptorium.ro/">TEXT&nbsp;❖&nbsp;BASE</a></ion-title>

    <ion-buttons slot="end">
      <ion-searchbar animated></ion-searchbar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

  <div class="all-authors" >
    <div routerLink="/authors/{{author.strId}}" *ngFor="let author of authors"
     class="avatar-container">
      <ion-avatar>
        <img [src]="author.image_href" />
      </ion-avatar>
      {{author.firstName}} {{author.lastName}}
    </div>
  </div>

  <hr/>

  <!-- <ion-card *ngFor="let author of authors">
    
    <ion-card-header>
      <ion-avatar>
        <img src="https://avatars.dicebear.com/api/adventurer/{{author.strId}}.svg" />
      </ion-avatar>
    </ion-card-header>
    <ion-card-content>
      <h2>{{author.firstName}} {{author.lastName}}</h2>
    </ion-card-content>
  </ion-card>

  <hr/>

  <ul>
    <li *ngFor="let author of authors">
      {{ author.firstName }}
      {{ author.lastName }}
      {{ author | json }}
    </li>
  </ul> -->



</ion-content>
