<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <!-- <ion-menu-button></ion-menu-button> -->
      <span id="textbase-logo"><a style="text-decoration: none;color: white; font-size:20px;" href="..">TEXT&nbsp;❖&nbsp;BASE</a></span>
    </ion-buttons>

    <ion-title slot="end">About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h2 style="text-align: center;">TEXT<span style="color: gray;">❖</span>BASE is a shareable digital library.</h2>

  <div class="container">

    <p>TEXT<span style="color: gray;">❖</span>BASE content is very easy to share. 
      Simply take the fragment you're interested in, for example:
      <a href="https://textbase.scriptorium.ro/about/le_roi_des_montagnes/photini">https://textbase.scriptorium.ro/about/le_roi_des_montagnes/photini</a>.
      Post it on social media, comment and interact around it.
    </p>
    <p>Did you notice how pretty our URLs are?</p>

    <p style="align-self:center; text-align: center; margin-top: 30px;">This service is developed and maintained by Petru Dimulescu.
      <br/>
      <a href="https://scriptorium.ro">scriptorium.ro</a>
      <br/>
      <a href="mailto:petru.dimulescu@gmail.com">Contact</a>
    </p>

    <hr/>
    <p style="align-self:center; text-align: center; font-size: smaller; color:gray;font-family: monospace;">
      {{serverInfo?.appName}} {{serverInfo?.version}} b{{serverInfo?.buildNumber}} on {{serverInfo?.buildMachine}}/{{serverInfo?.buildDate}}
      #{{serverInfo?.git_latest_commit}}
    </p>

    <h2 style="margin-left: 0px;">Vision</h2>

    <p>There is no shortage of books on the internet. But #Textbase innovates in that its texts are pretty and very shareable. We offer public domain text for free but we also want to add payed content for contemporary creators. In all languages.</p>
    <p>Every paragraph, subparagraph has a unique, pretty, meaningful, shareable URL. Soon, you will be able to refer any fragment, down to one single letter, by a meaningful, shareable, constant URL.</p>
    <p>Here's an example:</p>

    <p><a href="https://textbase.scriptorium.ro/perrault/contes/le_petit_chaperon_rouge">https://textbase.scriptorium.ro/perrault/contes/le_petit_chaperon_rouge</a></p>

    <p>You can refer to it on social media, interact around it.</p>
    <p>We want books to be enticing, web3-ready, adapted to the modern web medium rather than the other way around. </p>
    <p>Historically, books followed the medium, from pergaments, to volumens, to folios, to prints, to HTML documents. TEXTBASE books are modern books: they are both databases that you can query but also beautifully layed-out electronic readings with semantic links showing similar paragraphs, recommendation, socially connected with other people insteresed in same  authors. And printable on demand, how about that?</p>
    <p>The book used to rest closed. #TEXTBASE opens the book for you using all web technologies.</p>
    <p>Heres a poem:</p>
    <p><a href="https://textbase.scriptorium.ro/cosbuc/odiseea/telemac">https://textbase.scriptorium.ro/cosbuc/odiseea/telemac</a></p>
    <p>or </p>
    <p><a href="https://textbase.scriptorium.ro/cosbuc/balade_si_idile/rea_de_plata">https://textbase.scriptorium.ro/cosbuc/balade_si_idile/rea_de_plata</a></p>
    <p>Constant feed of excerpts from universal literature at: <a href="https://twitter.com/@scriptoriumro">https://twitter.com/@scriptoriumro</a></p>
    <p>Please support us to start turning this prototype into a function full-fledged universal digital library that can provide both a public service for public domain works and a place for new creators to publish and make themselves known!</p>


    <hr/>
    <p style="font-size: smaller;">Credits:
      <a *ngFor="let c of shuffled_credits; let last=last" target="_blank" [href]="c.href">{{c.label}}{{last? '.' : ', '}}</a>
    </p>
    <p style="font-size: smaller; margin: 0 auto;">
      <a href="/p/terms_of_service.html">Terms of service</a>,
      <a href="/p/privacy_policy.html">Privacy policy</a>
    </p>
  </div>


<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6"></script>

<!-- Your embedded comments code -->
<div class="fb-comment-embed"
   data-href="https://www.facebook.com/zuck/posts/10102735452532991?comment_id=1070233703036185"
   data-width="500"></div>

</ion-content>
