ion-toolbar {
    --background: linear-gradient(90deg, rgba(2,64,99,1) 0%, rgba(60,168,63,1) 22%, rgba(4,74,111,1) 100%);
    --color:white;
}

h2 {
    margin: 5vh 40px;
}

div.container {
    margin: 2em auto;
    max-width: 600px;
    padding: 0 40px;
    display: flex; flex-direction: column; justify-content: center; align-items: flex-start;
}

div.container p {
    margin-top: 0;
    text-align: left;
}
