<ion-header>
  <ion-toolbar>
    <ion-title>relocations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <!-- {{relocations | json }} -->

 <ion-list>
    <ion-list-header>
      <h2>Relocs</h2>

    </ion-list-header>  
    <ion-item *ngFor="let r of relocations">
      <ion-label>{{r.oldPath}}</ion-label>
      <ion-label>{{r.newPath}}</ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="delete(r)"><ion-icon name="delete"></ion-icon></ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

</ion-content>
