<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tei Repositories</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="solid" color="primary" (click)="forceReimportAll()">Force reimport all</ion-button>
      <ion-button fill="solid" color="primary" (click)="reimportAllNew()">Import new</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-list *ngFor="let item of teiRepos">
        <ion-list-header>
          <!-- <ion-avatar><ion-icon name="add"></ion-icon></ion-avatar> -->
          <ion-buttons>
            <ion-button fill="solid" color="primary">Refresh</ion-button>
          </ion-buttons>
          <h2>{{item.name}}</h2>

        </ion-list-header>  
        <ion-item *ngFor="let file of item.files">
          <ion-label>{{file}}</ion-label>
          <ion-buttons slot="end">
            <ion-button (click)="refreshFile(file)"><ion-icon name="refresh"></ion-icon></ion-button>
          </ion-buttons>
        </ion-item>
      </ion-list>

  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>First Accordion</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        First Content
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Second Accordion</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Second Content
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Third Accordion</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Third Content
      </div>
    </ion-accordion>
  </ion-accordion-group>
  
</ion-content>
